h1 {
  text-align: center;
}

.square1 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square2 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square3 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square4 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square5 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square6 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square7 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square8 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}

.square9 {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-bottom: 50px;
  display: inline-block;
  border-style: solid;
}
